@import "vars";



.ah-managergray__box{
	display: inline-block;
	width: 100%;
	max-width: 359px;
	background: #f5f3f2;
	padding: 20px 25px 25px 25px;
}
.ah-managerentry-span{
	display: block;
	font-family: "RobotoRegular";
	color: #182229;
	font-size: 14px;
}






.ah-managerinfo{
	background: #f5f3f2;
	padding: 25px 30px 30px 30px;
	width: 100%;
	font-size: 0;
	border-top: 1px solid #d1d0cf;
	border-bottom: 1px solid #d1d0cf;
}
.ah-managerinfo__imgbox{
	display: inline-block;
}
.ah-managerinfo-span{
	display: block;
	font-family: "RobotoBold";
	color: #182229;
	font-size: 14px;
	letter-spacing: 0.016em;
	margin-bottom: 10px;
}
.ah-managerinfo-span1{
	display: block;
	font-family: "RobotoRegular";
	color: #565f66;
	font-size: 14px;
	margin: 3px 0px;
	span{
		color: #182229;
		margin-left: 8px;
	}
}
.ah-managerinfo__content{
	display: inline-block;
	margin-left: 15px;
	vertical-align: bottom;
}






























