.az-kit{
	padding: 15px;
}

.az-kit__title{
	margin: 0;
	font-weight: normal;
	font-family: "RobotoBold";
	font-size: 22px;
	line-height: 24px;
	color: #182229;
	display: block;
	margin-bottom: 10px;
}

.az-kit__subtitle{
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #565f66;
	font-family: "RobotoRegular";
	display: block;
	width: 100%;
	max-width: 345px;
	margin: 10px 0 15px;
}

.az-kit__excel{
	margin: 20px 0 16px;
	text-align: center;
	@include mobile(768){
		float: right;
		margin: 33px 0 16px;
	}
}

.az-kit__head{
	@include mobile(768){
		float: left;
	}
}

.az-excel{
	font-size: 12px;
	color: #565f66;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
	font-family: "RobotoRegular";
	padding-left: 30px;
	background: transparent url('../img/az-excel.png') left center no-repeat;
	&:active, &:focus{
		color: #565f66;
		text-decoration: none;
	}
	&:hover{
		color: #565f66;
		text-decoration: underline;
	}
}

.az-kit__table{
	padding-top: 40px;
	height: 386px - 40px;
	box-sizing: content-box;
	padding-bottom: 200px;
	margin-bottom: -200px;
	.jspPane{
		min-width: 100%;
	}
	.az-table__top{
		min-width: 100%;
	}
	.az-table__row{
		min-width: 860px;
		width: 100%;
	}
	.az-table__td{
		padding: 6px 10px 6px 10px;
	}
}

.az-kit__col1{
	width: 66px;
	padding-left: 10px;
}

.az-kit__col2{
	width: 20.24%;
	padding-left: 10px;
}

.az-kit__col3{
	width: calc(26.48% - 22px);
	padding-left: 10px;
}

.az-kit__col4{
	width: calc(13.32% - 11px);
	padding-left: 10px;
}

.az-kit__col5{
	width: calc(13.32% - 11px);
	padding-left: 10px;
}

.az-kit__col6{
	width: calc(13.32% - 11px);
	padding-left: 10px;
}

.az-kit__col7{
	width: calc(13.32% - 11px);
	padding-left: 10px;
}

.az-checkbox{
	input[type="checkbox"]{
		display: none;
	}
	input[type="checkbox"] + span{
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 16px;
		background: #fff;
		border: 1px solid #d1d0cf;
	}
	input[type="checkbox"]:checked + span{
		background: #fff url(../img/az-checked.png) no-repeat center;
	}
}


.az-table__plus{
	margin-left: 10px;
}

.az-plus{
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	background: transparent url('../img/az-plus.png') center no-repeat;
	font-size: 0;
}

.az-plus__minus{
	background: transparent url('../img/az-minus.png') center no-repeat;
}

.az-kit__subtable{
	background: #fff;
	height: auto;
	padding-top: 0;
	min-height: 0;
	margin-left: auto;
	display: none;
	width: calc(100% - 65px);
	border-left: 1px solid #d1d0cf;
	border-bottom: 1px solid #d1d0cf;
}

.az-kit__subcol{
	width: 50%;
}

.az-table-filter{
	position: absolute;
	top: 13px;
	right: 8px;
	width: 14px;
	height: 10px;
	background: transparent url(../img/table-filter.png) center no-repeat;
	font-size: 0;
}

.az-kit__table{
	.az-sort{
		right: 8px;
	}
	.az-table__head-td:hover{
		background: #f37a1f;
	}
	.az-table-filter:hover{
		background: transparent url(../img/table-filter-white.png) center no-repeat;
	}
}

.az-sort + .az-table-filter{
	right: 28px;
}

.az-kit__bottom{
	position: relative;
}

.az-kit__bottom-right{
	display: none;
	@include mobile(992){
		display: block;
		float: right;
		margin: 15px 0;
	}
}

.az-kit__bottom-center{
	margin: 15px 0;
	@include mobile(768){
		float: right;
		width: 340px;
	}
	@include mobile(992){
		float: left;
		width: 310px;
		margin-left: calc(50% - 335px);
	}
}

.az-kit__bottom-left{
	margin: 15px 0;
	@include mobile(768){
		float: left;
		width: 180px;
	}
}

.az-pagination{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}

.az-pagination__item{
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	span{
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		color: #565f66;
		font-family: "RobotoRegular";
	}
	input{
		color: #182229;
		font-size: 12px;
		height: 32px;
		width: 48px;
		border: 1px solid #d1d0cf;
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		padding: 0 7px;
	}
}

.az-pagination__left2{
	font-size: 0;
	width: 15px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	background: url('../img/az-pag-arrow.png') left center no-repeat, url('../img/az-pag-arrow.png') right center no-repeat;
	opacity: 0.5;
	margin-right: 5px;
	&:hover{
		opacity: 1;
	}
}

.az-pagination__left{
	font-size: 0;
	width: 10px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	background: url('../img/az-pag-arrow.png') left center no-repeat;
	opacity: 0.5;
	margin-right: 5px;
	&:hover{
		opacity: 1;
	}
}

.az-pagination__right2{
	@extend .az-pagination__left2;
	transform: rotate(180deg);
	margin-right: 0;
	margin-left: 5px;
}

.az-pagination__right{
	@extend .az-pagination__left;
	transform: rotate(180deg);
	margin-right: 0;
	margin-left: 5px;
}

.az-button{
	width: 100%;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	background: #f37a1f;
	text-decoration: none;
	border: 0;
	font-family: "RobotoBold";
	letter-spacing: 0.016em;
	font-weight: normal;
	text-align: center;
	font-size: 12px;
	&:active, &:focus{
		text-decoration: none;
		color: #fff;
	}
	&:hover{
		text-decoration: none;
		color: #fff;
		background: darken(#f37a1f, 10%);
	}
}

.az-button__disabled{
	background: #d1d0cf;
	cursor: arrow;
	&:hover{
		background: #d1d0cf;
	}
}

.az-number{
	font-size: 0;
}

.az-number__text{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #565f66;
	font-family: "RobotoRegular";
}

.az-number__select{
	display: inline-block;
	vertical-align: middle;
	width: 63px;
	margin-left: 10px;
}