.az-goods__col1{
	width: 48px;
	padding-left: 0px;
	text-align: center;
}

.az-goods__col2{
	width: 20.24%;
	padding-left: 10px;
	@include mobile(1200){
		width: 15.24%;
	}
}

.az-goods__col3{
	width: calc(26.48% - 16px);
	padding-left: 10px;
	@include mobile(1200){
		width: calc(21.48% - 16px);
	}
}

.az-goods__col4{
	width: calc(16.32% - 8px);
	padding-left: 10px;
	@include mobile(1200){
		width: calc(10.32% - 8px);
	}
}

.az-goods__col5{
	width: calc(13.32% - 8px);
	padding-left: 10px;
	@include mobile(1200){
		width: calc(10.32% - 8px);
	}
}

.az-goods__col6{
	width: calc(23.64% - 16px);
	padding-left: 10px;
	@include mobile(1200){
		width: calc(9.32% - 8px);
	}
	@include desktop(1200){
		border-right: 0;
	}
}

.az-goods__col7{
	display: none;
	@include mobile(1200){
		display: inline-block;
		width: calc(8.32% - 8px);
	}
	@include desktop(1200){
		// border-right: 0;
	}
}

.az-goods__col8{
	display: none;
	@include mobile(1200){
		display: inline-block;
		width: 12.5%;
		padding-left: 10px;
	}
}

.az-goods__col9{
	display: none;
	@include mobile(1200){
		display: inline-block;
		width: 12.5%;
		padding-left: 10px;
	}
}

.az-goods-search{
	background: #f5f3f2;
}

.az-goods-search__left{
	margin: 16px;
	@include mobile(992){
		width: 415px;
		float: left;
	}
}

.az-goods-search__right{
	margin: 16px;
	@include mobile(992){
		width: 415px;
		float: right;
	}
}

.az-search__clear{
	font-size: 0;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 7px;
	right: 20px;
	background: transparent url('../img/az-close-black.png') center no-repeat;
	display: none;
}

.az-search__clear_show{
	display: block;
}

.az-search__clear + .az-search__input{
	padding-right: 40px;
}

.az-search__cell{
	position: relative;
}

.az-search__submit_black{
	background: #565f66 url('../img/ah-serchform-white.png') center no-repeat;
}

.az-table_goods{
	.az-table__row{
		min-width: 800px;
	}
}