// @import "bourbon";
// @import "fonts";
// @import "libs";
@import "vars";

body{
	overflow-x: hidden;
	overflow-y: auto;
}

.ah-cardproduct{
	margin-top: -30px;
}

@import "az-header";
@import "az-orders";
@import "az-start-header";
@import "az-start";
@import "az-catalog";
@import "az-kit";
@import "az-accessory";
@import "az-document";
@import "az-mybasket";
@import "az-goods";
@import "az-discount";
@import "az-finance";
@import "az-discounts";




// .az-div{
//     width: 100px;
//     height: 100px;
//     background: red;
//     @include mobile(992){
//         background: green;
//     }
//     @include desktop(480){
//         background: blue;
//     }
// }

